*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'geometos';
    src: url(font/Geometos.ttf);
}


body {
    font-family: 'Times New Roman', Times, serif;
}
.borderActive {
    border:5px solid black;
}
.navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: rgba(17, 12, 46, 0.10) 0px 5px 20px 0px;
    position: fixed;
}
.navbar .content {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    align-items: center;
    width: 100%;
}
.navbar .content #search {
    display: none;
}
.navbar .content .menu-btn {
    display: none;
}
.navbar .content .logo  h3 {
    color: black;
    font-family: 'geometos';
    padding-top: 7px;
    padding-bottom: 3px;

}
.navbar .content .logo .underline:nth-child(1) {
    width: 90px;
    height: 4px;
    background-color: black;
    float: right;
    transform: rotateY(-180deg);
}
.navbar .content .logo .underline:nth-child(3) {
    width: 30px;
    height: 4px;
    background-color: black;
    float: left;
}
.navbar .content .menu-list {
    display: flex;
    flex-grow: 0.9;
}
.navbar .content .menu-list li {
    list-style: none;
    margin: 0 10px;
}
.navbar .content .menu-list li a {
    text-decoration: none;
    color: #787878;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;

}
.navbar .content .menu-list li a:hover {
    color: black;
}
.navbar .content .menu-list .account {
    display: none;
}
.navbar .content .menu-list .icon-cancel-btn i {
    display: none;
}

.navbar .content .icon-there{
    display: flex;
    align-items: center;
}
.navbar .content .icon-there li {
    list-style: none;
    margin: 0 4px;
}
.navbar .content .icon-there li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.navbar .content .icon-there i {
    margin: 0 12px;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

/* search hiden */

.seacrh-hiden {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999999;
    justify-content: space-between;  
    position: fixed;
    top: -105%;
    display: flex;
    transition: 0.5s;
}
.seacrh-hiden.show {
    top: 0%;
}

.seacrh-hiden #cancel-hide {
    font-size:28px;
    left:-12em;
    top:0px;
    cursor: pointer;
    position: absolute;
}
.seacrh-hiden .seacrh {
   margin: 30px auto;
   position: relative;
   display: flex;
}
.seacrh-hiden .seacrh .container-search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.seacrh-hiden .seacrh input {
    padding: 15px;
    outline: none;
    border: none;
    background-color: black;
    color:white;
    border-bottom: 1px solid white;
    width: 500px;
    font-size:18px;
}
.seacrh-hiden .seacrh i {
    color:rgb(255, 255, 255);
    padding: 13px;
    cursor:pointer;
    font-size:26px;
    margin-left: 30px;
}
.seacrh-hiden .seacrh #search {
    border-bottom: 1px solid white;
    margin-left: 0px;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-1 .text {
    padding-left: 48px;
    width: 35%;
}
.container-1 .text h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 68px;
}

.container-1 .text .btn {
    position: absolute;
    margin-top: 2rem;
    z-index: 2;
}
.container-1 .text .btn a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 14px 39px;
    box-shadow: rgba(17, 12, 46, 0.50) 0px 16px 30px 0px;
}
.container-1 .text .textForward {
    position: absolute;
    padding-top: 4rem;
}
.container-1 .text .textForward h1 {
    font-size: 300px;
    color: rgb(228, 228, 228);
    letter-spacing: 10px;
}


.container-1 .bg-black {
    background-color: black;
    width: 600px;
    height: 110vh;
    z-index: 4;
    
}
.container-1 .bg-black .content {
    margin-top: 10rem;
    display :none;
    align-items: center;
    position: absolute;
}
.container-1 .bg-black .content.active {
    display: flex;
}

.container-1 .bg-black .content .image {
    width: 350px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin-left: -10rem;
    object-fit: cover;
    z-index: 3;
}
.container-1 .bg-black .image img {
    object-fit: cover;
    width: 100%;
    animation: slide 1.2s ease;
}
@keyframes slide {
    0% {
        transform: scale(1.6);
    }
    100% {
        transform : scale(1);
    }
}

.container-1 .bg-black .content .text {
    /*background-color: red;*/
    width: 50%;
}
.container-1 .bg-black .content .text .title {
    display: flex;
    align-items: center;
    animation : slideText 1s ease forwards;
    animation-delay: 0.6s;
    opacity: 0;
}
@keyframes slideText {
    0% {
        opacity :0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform : translateX(0px);
    }
}

.container-1 .bg-black .content .text .title .underline {
    background-color: white;
    width: 200px;
    height: 4px;
}
.container-1 .bg-black .content .text .title h2 {
    padding-left: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.container-1 .bg-black .content .text .desc {
    /*background-color: red;*/
}
.container-1 .bg-black .content .text .desc p {
    color: rgb(251, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 27px;
    animation : slideDesc 0.7s ease forwards;
    animation-delay: 1.1s;
    opacity: 0;
}
@keyframes slideDesc{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* btn controler */

.container-1 .bg-black .content .button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.container-1 .bg-black .content  .button i {
    background-color: white;
    padding: 5px 20px;
    font-size: 30px;
    cursor: pointer;
}
.container-1 .bg-black .content  .button .nextBtn , .prevBtn {
    margin: 0 10px;
}


/* container 2 */
.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 70px;
    padding-top: 8rem;
}
.container2 .container-image {
    /*background-color: red;*/
    width: 450px;
    height: 400px;
    position: relative;
}
.container2 .container-image .text-small {
    position: absolute;
    left: -10px;  
    bottom: 45px; 
}
.container2 .container-image p {
    margin-top: 3rem;
    transform: rotate(-90deg);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.container2 .container-image .img {
    width: 350px;
    height: 400px;
    overflow: hidden;
    margin:auto;
    z-index: 2;
    position: relative;
}
.container2 .container-image .img img {
    object-fit: cover;
    width: 100%;
    z-index: 2;
    position: relative;
    margin-left: 3em;
    margin-top: 2em;
}
.container2 .container-image .overlay-img {
    background-color: black;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
}

.container2 .container-text {
    display: flex;
    flex: 0.8;
    flex-direction: column;
   /* background-color: red; */
}
.container2 .container-text .title {
    width: 70%;
}
.container2 .container-text h1 {
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 1.2em;
}
.container2 .container-text .description {
    margin-top: 1.7em;
    width: 90%;
}
.container2 .container-text .description p {
    color: #252525;
    font-size: 19px;
    line-height: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.container2 .container-text .btn {
    padding-top: 2.5em;
}
.container2 .container-text .btn a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 14px 39px;
    box-shadow: rgba(17, 12, 46, 0.50) 0px 16px 30px 0px;
}


.container3 h1 {
    text-align:center;
    font-size:50px;
    margin-top:2.5em;
}

.container4 {
    width: 90%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: auto;
    margin-top: 1.7em;
}
.container4 .box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 17px 20px;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 16px 30px 0px;

}
.container4 .box .img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.container4 .box .img  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .3s ease;
}
.container4 .box .detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container4 .box .detail .title {
    text-align: center;
    position: absolute;
    
}
.container4 .box .detail p {
    color: white;
    font-size: 34px;
    text-align: center;
    padding-top: 18px;
}
.container4 .box .detail span {
    color:rgb(233, 233, 233);
    font-size: 20px;
}
.container4 .box .detail .btn {
    position: absolute;
    bottom: 15px;
    width: 80%;
}
.container4 .box .detail a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 55px;
    font-weight: 500;
    border-radius :3px;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.container4 .box:hover .img  img {
    transform: scale(1.1,1.1);
 
} 
.container4 .box .detail:hover {
    opacity: 1;
    visibility: visible;
} 

/* container 5 */
.container5 {
    background-color: black;
    margin-top: 6em;
}
.container5 .title {
    text-align: center;
    color:white;
    padding-top: 1.4em;
}
.container5 .title h1 {
    font-size: 39px;
}
.carousel {
    width: 95%;
    margin: 0 auto;

}
.carousel .box {
    display: flex;
    flex-direction: column;
    padding: 3em 4em 2em 5em ;
    margin: 0 3px;
}

.carousel .box .img{
  width: 280px;
  height: 320px;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  overflow: hidden;

}
.carousel .box .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.carousel .box .container-desc {
    /*background-color: red;*/
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
}
.carousel .box .container-desc .title {
    text-align: left;
}
.carousel .box .container-desc .title h2 {
    font-size: 24px;
}
.carousel .box .container-desc .desc p {
    color:rgb(195, 195, 195);
}
.carousel .box .container-desc .desc .price p {
    color : white;
    font-size: 20px;
    padding-top: 0.3em;
}
.flickity-button {
    opacity: 1;
}
.flickity-button:disable {
    opacity: 1;
}
ol.flickity-page-dots {
    display: block;
    bottom: 10px;
    padding-bottom: 10px;
}
.flickity-page-dots .dot.is-selected {
    background: rgb(187, 187, 187);
}

.container6 {
    padding-top:4em;
    margin: auto 70px;
}
.container6 .title {
    display: none;
}
.container6 .container-map {
    display: flex;
    align-items: center;
}
.container6 .container-map .map {
    box-shadow: rgba(17, 12, 46, 0.13) 0px 5px 20px 0px;
    overflow: hidden;
}
.container6 .container-map .map iframe {
    width: 2400px;
}
.container6 .container-map .desc {
    padding-left: 50px;
}
.container6 .container-map .desc h1 {
    font-size: 50px;    
    padding-bottom: 0.5em;
}
.container6 .container-map .desc p {
    font-size: 17px;
    line-height:1.4em;
    letter-spacing: 0.5px;
}

/* container 7 */
.container7 {
    width: 100%;
    height: 500px;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(img/cont7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 4em;
    display: flex;
    justify-content: center;
}
.container7 .box {
    border: 5px solid white;
    position: relative;
    margin: auto;
    width: 800px;
    height: 300px;
}
.container7 .box .text {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}
.container7 .box .text p {
    color: white;
    font-size:49px;
    padding-bottom: 25px;
}
.container7 .box .text a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 15px 24px;
    font-size: 19px;
}


footer {
    margin-top: 4em;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
footer .container-content {
    display: flex;
    justify-content: space-around;
    padding: 3em 3em;
}
footer .container-content .content {
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
}
footer .container-content .content .title h3 {
    font-size: 26px;
    color: white;
    padding-bottom: 1em;
}
footer .container-content .content .sub-title {
    display: flex;
    flex-direction: column;
}
footer .container-content .content .sub-title a {
    text-decoration: none;
    color: #979797;
    font-size: 18px;
    margin-top: 10px;
}
footer .container-content .content .sub-title a:hover {
    color: white;
}

footer .container-content .content .sub-title2 a {
    text-decoration: none;
    color: #979797;
    font-size: 24px;
    margin-top: 10px;
    margin-right: 10px;
}
footer .container-content .content .sub-title2 a:hover {
    color: white;
}

@media screen and (max-width: 296px) {
    body {
        display: none;
    }
}

@media screen and (max-width : 576px) {
    .seacrh-hiden {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        z-index: 999999;
        justify-content: space-between;  
        position: fixed;
        top: -105%;
        display: flex;
        transition: 0.5s;
    }
    .seacrh-hiden.show {
        top: 0%;
    }
    
    .seacrh-hiden #cancel-hide {
        font-size:23px;
        top: 0;
        left: -1.2em;
        position: absolute;
        cursor: pointer;
    }
    .seacrh-hiden .seacrh {
       margin: 30px auto;
       display: flex;
       justify-content: center;
    }
    .seacrh-hiden .seacr .container-search {
        display: flex;
        align-items: center;
    }
    .seacrh-hiden .seacrh input {
        padding: 15px;
        outline: none;
        border: none;
        background-color: black;
        color:white;
        border-bottom: 1px solid white;
        width: 60%;
        font-size:16px;
    }
    .seacrh-hiden .seacrh #search {
        color:rgb(255, 255, 255);
        border-bottom: 1px solid white;
        cursor:pointer;
        font-size:23px;
        margin-left: 0px;
    }
    .navbar{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        top: 0;
        left: 0;
        z-index: 99;
        box-shadow: rgba(17, 12, 46, 0.10) 0px 5px 20px 0px;
        position: fixed;
    }
 
    .navbar .content {
        padding: 0 30px;
    }
    .navbar .content .logo  {
        position: relative;
    }
    .navbar .content .logo .underline:nth-child(1) {
        width: 40px;
        height: 4px;
        background-color: black;
        float: right;
        transform: rotateY(-180deg);
    }
    .navbar .content .logo .underline:nth-child(3) {
        width: 30px;
        height: 4px;
        background-color: black;
        float: left;
    }
    .navbar .content .logo  h3 {
        color: black;
        font-family: 'geometos';
        padding-top: 7px;
        padding-bottom: 3px;
        text-align: center;
        font-size: 17px;
    }
    .navbar .content .menu-btn {
        display: block;
        font-size: 1.4em;
        cursor: pointer;
    }
    .navbar .content .menu-list {
        background-color: black;
        width: 82%;
        height: 110vh;
        top: 0;
        left: -100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        transition: .5s;
    }
    .navbar .content .menu-list li {
        margin: 10px auto;
    }
    .navbar .content .menu-list li a {
        color: rgb(212, 212, 212);
        font-size: 18px;
    }
    .navbar .content .menu-list li a:hover {
        color: white;
    }
    .navbar .content .menu-list .icon-cancel-btn i{
        color: white;
        padding: 10px;
        display: block;
        border-radius: 5px;
        top: 18px;
        right: 6px;
        font-size: 1.4em;
        position: absolute;
        cursor: pointer;
    }
    .navbar .content .menu-list .account {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        padding-top: 1.5rem;
    }
    .navbar .content .menu-list .account .signIn{
        color: black;
        text-decoration: none;
        background-color: white;
        padding: 8px 50px;
    }
    .navbar .content .menu-list .account .signUp {
        color: rgb(212, 212, 212);
        text-decoration-color: white;
    }
    .navbar .content .menu-list .account p {
        color: rgb(182, 182, 182);
        font-size: 15px;
        padding-top: 0.8rem;
    }
    .navbar .content .menu-list.active {
        left: 0;
    }

    .navbar .content .icon-there {
        display: none;
    }
    .navbar .content .icon-there i {
        margin: 0 5px;
        color: rgb(0, 0, 0);
        font-size: 17px;
        flex-grow: 0.4;
    }
    .navbar .content #search {
    display: block;
    }

    /*container banner */
    .container-1 {
        flex-direction: column;
        margin: auto 13px;
        position: absolute;
    }

    .container-1 .text {
        padding-top: 10rem;
        width: 95%;
        padding-left: 0px;
        text-align: left;

    }
    .container-1 .text h1 {
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        font-size: 2.6em;
    }
    .container-1 .text .btn {
        position: absolute;
        margin-top: 2rem;
        z-index: 2;
    }
    .container-1 .text .btn a {
        background-color: black;
        color: white;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        padding: 11px 30px;
        box-shadow: rgba(17, 12, 46, 0.50) 0px 16px 30px 0px;
    }
    .container-1 .text .textForward {
        position: absolute;
        padding-top: 4.5rem;
        display: none;
    }
    .container-1 .text .textForward h1 {
        font-size: 130px;
        color: rgb(255, 255, 255);
        letter-spacing: 5px;
      
    }

    
    .container-1 .bg-black {
        background-color: white;
        width: 100%;
        z-index: 4;
        margin-top: 11rem;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .container-1 .bg-black .content {
        display :none;
        position: absolute;
       
        padding-bottom: 0;
    }
    .container-1 .bg-black .content.active {
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        top: 0;
        margin-top: -2rem;
        height: auto;
    }

    .container-1 .bg-black .content .image {
        width: 75%;
        height: 300px;
        overflow: hidden;
        position: absolute;
        margin-left: 0px;
        margin-top: -2em;
    }
    .container-1 .bg-black .image img {
        object-fit: cover;
        width: 100%;
        animation: slide 1.2s ease;
    }
    @keyframes slide {
        0% {
            transform: scale(1.6);
        }
        100% {
            transform : scale(1);
        }
    }

    .container-1 .bg-black .content .text {
        width: 80%;
        padding-top: 18.3em;
        padding-bottom: 4rem;
        position: relative;
    }
    .container-1 .bg-black .content .text .title {
        display: flex;
        align-items: center;
        animation : slideText 1s ease forwards;
        animation-delay: 0.6s;
        opacity: 0;
    }
    @keyframes slideText {
        0% {
            opacity :0;
            transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            transform : translateX(0px);
        }
    }

    .container-1 .bg-black .content .text .title .underline {
        background-color: white;
        width: 140px;
        height: 3.5px;
    }
    .container-1 .bg-black .content .text .title h2 {
        padding-left: 10px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
    }

    .container-1 .bg-black .content .text .desc {
       /*background-color: green;*/
       padding-bottom: 20px;
    }
    .container-1 .bg-black .content .text .desc p {
        color:white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16.5px;
        line-height: 1.6rem;
        letter-spacing: 0.5px;
        animation : slideDesc 0.7s ease forwards;
        animation-delay: 1.1s;
        opacity: 0;
        
    }
    @keyframes slideDesc{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    /* btn controler */

    .container-1 .bg-black .content .button {
        display: flex;
        position: absolute;
        bottom: 22px;
        right:0;
    }
    .container-1 .bg-black  .content .button i {
        background-color: white;
        padding: 5px 15px;
        font-size: 22.5px;
        cursor: pointer;
    }
    .container-1 .bg-black  .content .button .nextBtn , .prevBtn {
        margin: 3px;
    }

    /*container 2 */

    .container2 {
        z-index: 10;
        flex-direction: column;
        margin: auto; 
        top:61.5em;
        position: relative;
        padding-top: 4em;
    }
    .container2 .container-image {
        height: 250px;
        width: 90%;
    }
    .container2 .container-image p {
        margin-top: 3rem;
        transform: rotate(-90deg);
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    .container2 .container-image .img {
        width: 100%;
        height: 310px;
        overflow: hidden;
        z-index: 2;  
    }
    .container2 .container-image .img img {
        object-fit: cover;
        width: 100%;
        position: relative;
        z-index: 2;
        margin-top: 20px;
        margin-left: 20px;
   
    }
    .container2 .container-image .overlay-img {
        background-color: black;
        width: 55%;
        height:163px;
        bottom: 149px;
        position: absolute;
   
    }
    
    .container2 .container-text {
        display: flex;
        flex-direction: column;
        /*background-color: red; */
        margin: 5.6em 18px 0px 18px;      
    }
    .container2 .container-text .title {
        width: 100%;
    }
    .container2 .container-text h1 {
        font-size: 2.1em;
        letter-spacing: 1.5px;
        line-height: 1.2em;
        width: 100%;
    }
    .container2 .container-text .description {
        margin-top: 2em;
        width: 90%;
    }
    .container2 .container-text .description p {
        color: #575757;
        font-size: 16.5px;
        line-height: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .container2 .container-text .btn {
        padding-top: 2em;
    }
    .container2 .container-text .btn a {
        background-color: black;
        color: white;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        padding: 11px 30px;
        box-shadow: rgba(17, 12, 46, 0.50) 0px 16px 30px 0px;
    }

    .container3 {
        margin-top: 66em;
    }
    .container3 h1 {
        font-size: 2.1em;
    }

    .container4 {
        width: 100%;
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        margin: auto;
        margin-top: 1.7em;
    }
    .container4 .box {
        width: 100%;
        height: 230px;
        overflow: hidden;
        margin: 17px 20px;
        position: relative;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 16px 30px 0px;
    
    }
    .container4 .box .img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .container4 .box .img  img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: .3s ease;
    }
    .container4 .box .detail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        opacity: 0;
        transition: .3s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container4 .box .detail .title {
        text-align: center;
        position: absolute;
    }
    .container4 .box .detail p {
        color: white;
        font-size: 34px;
        text-align: center;
        padding-top: 18px;
    }
    .container4 .box .detail span {
        color:rgb(233, 233, 233);
        font-size: 20px;
    }
    .container4 .box .detail .btn {
        position: absolute;
        bottom: 10px;
        width: 86%;
    }
    .container4 .box .detail a {
        color: black;
        text-decoration: none;
        background-color: white;
        padding: 10px 55px;
        font-weight: 500;
        border-radius :3px;
        font-size: 18px; 
    }
    .container4 .box:hover .img  img {
        transform: scale(1.1,1.1);
     
    } 
    .container4 .box .detail:hover {
        opacity: 1;
        visibility: visible;
    } 


    .container5 .title h1 {
        font-size: 2.1em;
        padding-bottom: 10px;
    }
    .carousel {
        margin: 20px 15px;
    }
    .carousel .box {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0 20px;
    }

    .carousel .box .img{
      width: 200px;
      height: 220px; 
      margin-right: 10px ;
      background: white ;
      border-radius: 5px ;
      overflow: hidden ;

    }
    .carousel .box .img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .carousel .box .container-desc {
        /*background-color: red;*/
        font-family: 'Poppins', sans-serif;
        padding-bottom: 60px;
    }
    .carousel .box .container-desc .title {
        text-align: left;
    }
    .carousel .box .container-desc .title h2 {
        font-size: 24px;
    }
    .carousel .box .container-desc .desc p {
        color:rgb(195, 195, 195);
    }
    .carousel .box .container-desc .desc .price p {
        color : white;
        font-size: 20px;
        padding-top: 0.3em;
    }
    .flickity-button {
        opacity: 0;
    }
    .flickity-button:disable {
        opacity: 0;
    }

    .flickity-page-dots .dot.is-selected {
        background: rgb(187, 187, 187);
    }
    ol.flickity-page-dots {
        display: block;
        bottom: 0px;
        padding-bottom: 10px;
    }
 

    .container6 {
        padding-top: 4em;
        margin: auto;
        width: 100%;
    }
    .container6 .title {
        display: block;
        text-align: center;
        padding-bottom: 1.8em;
    }
    .container6 .container-map {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container6 .container-map .map {
        box-shadow: rgba(17, 12, 46, 0.13) 0px 5px 20px 0px;
        width: 90%;
        overflow: hidden;
    }
    .container6 .container-map .map iframe {
        height: 300px;
    }
    .container6 .container-map .desc {
        padding-left: 0px;
        margin: auto 20px;
        padding-top: 2.2em;
    }
    .container6 .container-map .desc h1 {
        font-size: 50px;    
        padding-bottom: 0.5em;
        display: none;
    }
    .container6 .container-map .desc p {
        font-size: 16.5px;
        line-height:1.4em;
        letter-spacing: 0.5px;
        color: #575757;
    }



    .container7 {
        width: 100%;
        height: 300px;
        background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(img/cont7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 4em;
        display: flex;
        justify-content: center;
    }
    .container7 .box {
        border: 5px solid white;
        position: relative;
        margin: auto;
        width: 80%;
        height: 200px;
    }
    .container7 .box .text {
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        position: absolute;
        text-align: center;
        width: 80%;
    }
    .container7 .box .text p {
        color: white;
        font-size:26px;
        padding-bottom: 25px;
    }
    .container7 .box .text a {
        color: black;
        text-decoration: none;
        background-color: white;
        padding: 10px 16px;
        font-size: 16px;
    }
    

    footer {
        margin-top: 4em;
        background-color: black;
        font-family: 'Poppins', sans-serif;
    }
    footer .container-content {
        display: flex;
        flex-direction: column;
        padding: 3em 1.2em;
    }
    footer .container-content .content .title h3 {
        font-size:18px;
        color: white;
        padding-bottom: 0.5em;
    }
    footer .container-content .content .sub-title {
        display: flex;
        padding-bottom: 1em;
        flex-direction: column;
    }
    footer .container-content .content .sub-title a {
        text-decoration: none;
        color: #979797;
        font-size: 16px;
        margin-top: 10px;
    }
    footer .container-content .content .sub-title a:hover {
        color: white;
    }
    
    footer .container-content .content .sub-title2 a {
        text-decoration: none;
        color: #979797;
        font-size: 24px;
        margin-top: 10px;
        margin-right: 10px;
    }
    footer .container-content .content .sub-title2 a:hover {
        color: white;
    }
        
}

